<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag("/users") do %>
      <%= render 'shared/error_messages' %>

      <%= label :user, :name %>
      <%= text_field :user, :name %>

      <%= label :user, :email %>
      <%= text_field :user, :email %>

      <%= label :user, :password %>
      <%= password_field :user, :password %>

      <%= label :user, :password_confirmation, "Confirmation" %>
      <%= password_field :user, :password_confirmation %>

      <%= submit_tag "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
